/* You can add global styles to this file, and also import other style files */
.ng-invalid.ng-touched {
  border-color : #dc3545 !important;
}

.image-contain {
  overflow: hidden;
  max-width: 10em;
}

.image-contain img{
  max-width : 8em;
  border: none !important;
}
