<div class="sidebar" data-color="white" data-active-color="danger" style="width: 17%">
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img [src]="user?.avartarPath">
            </div>
        </a>
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
            {{user?.firstname}}
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a [routerLink]="['product']"  >
                    <i class="nc-icon nc-bank"></i>
                    <p>Product</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['category']">
                    <i class="nc-icon nc-diamond"></i>
                    <p>Category</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['user']">
                    <i class="nc-icon nc-single-02"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li>
                <a (click)="logOut()">
                    <i class="fas fa-sign-out-alt"></i>
                    <p>Log Out</p>
                </a>
            </li>

        </ul>
    </div>
</div>
