<div class="row">
  <div class="col-md-12 col-lg-6 col-xl-4" *ngFor="let product of products | async">
    <div class="card text-center card-product">
      <div class="card-product__img">
        <img style="height: 200px; width: auto" class="card-img" [src]="product.imagePath" alt="">
        <ul class="card-product__imgOverlay">
          <li></li>
          <li><button (click)="addItem(product)"><i class="ti-shopping-cart"></i></button></li>
          <li></li>
        </ul>
      </div>
      <div class="card-body">
        <p>{{product.category.name}}</p>
        <h4 class="card-product__title"><a [routerLink]="['/home/product', product.id]">{{product.name}}</a></h4>
        <p class="card-product__price">{{product.price | currency}}</p>
      </div>
    </div>
  </div>
</div>
